*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#box1{
    width: 400px;
    height: 20px; 
    border:1px solid black;
    margin-top: 100px;
    margin-left: 90px;
    margin-bottom: 100px;
}
#box2{
    width: 620px;
    height: 20px; 
    border:1px solid rgb(240, 15, 15);

}
#box3{
    width: 420px;
    height: 20px; 
    border:1px solid black;
    margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#box4{
    width: 570px;
    height: 20px; 
    border:1px solid black;
}