#title1{
color: blueviolet;
}
#title2{
    color:rgb(168, 5, 5);
}
#title3{
    color:rgb(168, 5, 5);
}
#title4{
    color:rgb(255, 218, 173);
}
#title5{
    color:rgb(255, 218, 173);
}
h2{
    color:rgb(3, 124, 3);
}
#title6{
    color:crimson;
}
#title7{
    background-color:yellow;
}
#title8{
    color:rgb(255, 218, 173);
}