#box1{
    background-color:black;
    height:90px;
    border-top:20px solid black;
    color:white;
}
#box3{
    background-color:gray;
    width: 200px;
    height: 100px;
    text-align:center;
  border-top:100px solid gray

}
a{
  color:red;
}
#box4{
margin-left: 20px;
}
.container{
  display: flex;
}
#box5{
  margin-left: 20px;
  
}